<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>map</key>
	<array>
		<string>map_nepal</string>
	</array>
	<key>glossary</key>
	<array>
		<string>mandala</string>
		<string>vishnu</string>
		<string>vaishnavas</string>
		<string>dharma</string>
		<string>garuda</string>
		<string>lakshmi</string>
	</array>
</dict>
</plist>
