<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>map</key>
	<array>
		<string>map_bengladesh</string>
	</array>
	<key>glossary</key>
	<array>
		<string>avatars</string>
		<string>vishnu</string>
		<string>samhadipada</string>
		<string>conch_shell</string>
		<string>discus</string>
		<string>mace</string>
		<string>lotus_blossom</string>
		<string>matsya</string>
		<string>kalki</string>
		<string>lakshmi</string>
		<string>bhudevi</string>
		<string>flywhisk</string>
		<string>garuda</string>
	</array>
</dict>
</plist>
