<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>map</key>
	<array>
		<string>map_kota</string>
	</array>
	<key>glossary</key>
	<array>
		<string>vishnu</string>
		<string>mace</string>
		<string>ayudhapurusha</string>
		<string>discus</string>
		<string>conch_shell</string>
		<string>bhakti</string>
		<string>puja</string>
		<string>darshan</string>
		<string>murti</string>
	</array>
</dict>
</plist>
