<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>map</key>
	<array>
		<string>map_bengladesh</string>
	</array>
	<key>glossary</key>
	<array>
		<string>vishnupatta</string>
		<string>vishnu</string>
		<string>avatars</string>
		<string>matsya</string>
		<string>kurma</string>
		<string>vahara</string>
		<string>narasimha</string>
		<string>vamana</string>
		<string>trivikrama</string>
		<string>rama</string>
		<string>parashurama</string>
		<string>buddha</string>
		<string>kalki</string>
		<string>lotus_blossom</string>
		<string>lakshmi</string>
		<string>garuda</string>
		<string>flywhisks</string>
	</array>
</dict>
</plist>
