<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>map</key>
	<array>
		<string>map_bengal</string>
		<string>map_vrindavan</string>
	</array>
	<key>glossary</key>
	<array>
		<string>krishna</string>
		<string>radha</string>
		<string>peacock feather</string>
		<string>avatars</string>
		<string>puja</string>
	</array>
</dict>
</plist>
