<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>map</key>
	<array>
		<string>map_madhya_pradesh</string>
	</array>
	<key>glossary</key>
	<array>
		<string>vishnu</string>
		<string>avatars</string>
		<string>conch shell</string>
		<string>lotus blossom</string>
		<string>mace</string>
		<string>samhadipada</string>
		<string>murti</string>
		<string>darshan</string>
		<string>matsya</string>
		<string>kurma</string>
		<string>vamana</string>
		<string>varaha</string>
		<string>narasimha</string>
		<string>kalki</string>
		<string>buddha</string>
		<string>brahma</string>
		<string>shiva</string>
		<string>vaishnavas</string>
		<string>lakshmi</string>
	</array>
</dict>
</plist>
