<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>map</key>
	<array>
		<string>map_bengal</string>
		<string>map_vrindavan</string>
	</array>
	<key>glossary</key>
	<array>
		<string>venugopala</string>
		<string>krishna</string>
		<string>vrindavan</string>
		<string>gopis</string>
		<string>radha</string>
		<string>bhakti</string>
		<string>gita_govinda</string>
		<string>lotus</string>
		<string>rasa</string>
	</array>
</dict>
</plist>
