<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>map</key>
	<array>
		<string>map_central_india</string>
	</array>
	<key>glossary</key>
	<array>
		<string>vishnu</string>
		<string>varaha</string>
		<string>lotus_blossom</string>
		<string>bhudevi</string>
		<string>avatars</string>
		<string>lakshmi</string>
		<string>trimurti</string>
		<string>brahma</string>
		<string>shiva</string>
	</array>
</dict>
</plist>
